.App {
  display: grid;
  row-gap: 30px;
  min-height: 100vh;
  background-color: rgb(201, 230, 242);
  font-family: Consolas, sans-serif;
}

.flex {
  display: flex;
}

button {
  border-style: none;
  border-radius: 8px;
  transition: ease 0.3s;
}

button:hover {
  cursor: pointer;
}

/*================ HEADER ================*/
header {
  width: 100vw;
  min-height: 70vh;
  justify-content: center;
  align-items: center;
}

.header__container {
  width: 90%;
  height: 100%;
  align-items: flex-start;
  justify-content: space-between;
  background-image: url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.blog__word {
  color: pink;
  margin-top: 0;
  padding: 0px 10px;
  font-size: 10vw;
  font-weight: bold;
  font-family: HComic Sans MS;
  text-shadow: 0 1px 0 rgb(228, 222, 223), 0 2px 0 rgb(186, 179, 180), 0 3px 0 rgb(216, 210, 211),
    0 4px 0 rgb(205, 196, 197), 0 5px 0 whitesmoke, 0 6px 1px rgb(246, 115, 137, 0.1),
    0 0 5px rgba(243, 116, 137, 0.1), 0 1px 3px rgba(246, 115, 137, 0.3),
    0 3px 5px rgba(246, 115, 137, 0.2), 0 5px 10px rgba(246, 115, 137, 0.25),
    0 10px 10px rgba(246, 115, 137, 0.2), 0 20px 20px rgba(246, 115, 137, 0.15);
}

.auth__button-container {
  padding: 20px 10px;
  min-height: 30px;
}

.auth__button {
  background-color: pink;
  font-size: 14px;
}

.profile__image {
  position: relative;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  size: 50%;
}

/*================ ARTICLES ENTRY ================*/
.article__entry {
  width: 100vw;
  display: grid;
  place-items: center;
  padding-bottom: 20px;
}

form {
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  border-radius: 12px;
  padding: 20px;
  width: 50%;
  height: auto;
  background-color: skyblue;
}

form h2 {
  text-align: center;
}

.create {
  width: 30%;
  border-color: palevioletred;
  background-color: pink;
  height: 40px;
}

.create:hover {
  color: white;
  box-shadow: inset 300px 0 0 0 palevioletred;
}

.title__body {
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  row-gap: 10px;
}

.article__inputs-title-container,
.article__inputs-body-container {
  flex-direction: column;
  width: 100%;
}

form input,
form textarea {
  font-size: 18px;
  border: none;
  border-radius: 8px;
  padding: 5px;
  background-color: rgb(202, 228, 239);
}

.error {
  background-color: red;
  color: white;
  padding: 10px;
  margin: 0 0 -20px 0;
}

/*================ ARTICLES ================*/
.new__article-container {
  justify-content: center;
  align-items: center;
  margin: 0 0 30px 0;
}

/*button design is from CSS Scan website*/
.create__button {
  background-color: rgb(56, 145, 181);
  color: whitesmoke;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  padding: 10px 16px;
}

.create__button:hover,
.auth__button:hover {
  color: black;
  box-shadow: inset 300px 0 0 0 pink;
}

.articles__container {
  width: 100vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 20px;
  padding-bottom: 20px;
}

.article__container {
  flex-direction: column;
  background-color: rgb(250, 250, 250);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  width: 60%;
  height: auto;
  border-radius: 15px;
}

.article__header {
  display: grid;
  grid-template-columns: auto 30px;
  height: auto;
}

.article__date,
.article__author {
  font-style: italic;
}

.article__author {
  margin: 10px 0;
}

.article__body {
  white-space: break-spaces;
  word-wrap: break-word;
}

.article__delete-container {
  justify-content: center;
  align-items: center;
}

.article__delete-container button {
  font-size: 100%;
  background-color: rgb(250, 250, 250);
}
